# Task 7 / Cryptography Task 1

## 1

### a
Vis at a%n = b%n (som vi også kan skrive som a mod n = b mod n) hvis og bare hvis
a ≡ b (mod n)
<hr/>

Vi har at 
$$ a ≡ b (mod\;n)$$

Dette betyr at a og b har samme rest etter heltallsdivisjon med n, altså at
$$ a (mod\;n) = b (mod\;n)$$

### b
Regn ut −99 mod 1001
<hr/>

In [ ]:
print("-99 % 1001 =", -99%1001)

-99 % 1001 = 902

### c
Regn ut 232 + 22 · 77 − 183 mod 8 <hr/>

In [ ]:
print("232 + 22 · 77 - 18^3 mod 8 =", 232 + 22 * 77 - 18**3 % 8)
print("(232 + 22 · 77 - 18^3) mod 8 =", (232 + 22 * 77 - 18**3) % 8)

232 + 22 · 77 - 18^3 mod 8 = 1926
(232 + 22 · 77 - 18^3) mod 8 = 6

### d

Avgjør om 55 ≡ 77 (mod 12)
<hr/>

In [ ]:
x1 = 55%12
x2 = 77%12

print("55 % 12 =", 55%12)
print("77 % 12 =", 77%12)
print("55 ≡ 77 (mod 12):", x1 == x2)

55 % 12 = 7
77 % 12 = 5
55 ≡ 77 (mod 12): False

## 2

### a
Skriv ut multiplikasjonstabellen i Z<sub>12</sub> , (uten å ta med raden eller kolonnen for 0-gangen).
<hr/>

In [40]:
def print_modulo_table(n):
    print("Modulo table for Zn, n = {0:2d}\n".format(n))

# print the header with numbers
    for i in range(n):
        if(i==0):
            print("    ", end=" ")
        else:
            print(i, end="   ")

    # print newline and the horisontal rule
    print()
    print("-"*50)

    # print the table
    for i in range(1,n):
        for j in range(n):
            if(j == 0):
                print("{0:2d} |".format((i)), end=" ")
            else:
                if(i*j%n < 10):
                    print(i*j%n, end="   ")
                else:
                    print(i*j%n, end="  ")
        print()

In [41]:
print_modulo_table(12)

Modulo table for Zn, n = 12

     1   2   3   4   5   6   7   8   9   10   11
--------------------------------------------------
 1 | 1   2   3   4   5   6   7   8   9   10  11
 2 | 2   4   6   8   10  0   2   4   6   8   10
 3 | 3   6   9   0   3   6   9   0   3   6   9
 4 | 4   8   0   4   8   0   4   8   0   4   8
 5 | 5   10  3   8   1   6   11  4   9   2   7
 6 | 6   0   6   0   6   0   6   0   6   0   6
 7 | 7   2   9   4   11  6   1   8   3   10  5
 8 | 8   4   0   8   4   0   8   4   0   8   4
 9 | 9   6   3   0   9   6   3   0   9   6   3
10 | 10  8   6   4   2   0   10  8   6   4   2
11 | 11  10  9   8   7   6   5   4   3   2   1

### b
Hvilke tall har multiplikative inverser modulo 12?
<hr/>

In [45]:
def find_inverses(n):
    print("Multiplikative inverser modulo {0:2d} er tall a og b som oppfyller ab ≡ 1 (mod {0:2d})\n".format(n))

    # finner tallene hvor ab ≡ 1 (mod n)

    mult_inverse = []

    for i in range(1,n):
        for j in range(n):
            if(j == 0):
                continue
            else:
                if(i*j%n == 1):
                    mult_inverse.append((i,j))

    print("Multiplikative inverse par modulo {0:2d} er:".format(n))
    for pair in mult_inverse:
        print("({0}, {1})".format(pair[0], pair[1]))

In [47]:
find_inverses(12)

Multiplikative inverser modulo 12 er tall a og b som oppfyller ab ≡ 1 (mod 12)

Multiplikative inverse par modulo 12 er:
(1, 1)
(5, 5)
(7, 7)
(11, 11)

### c
Gjør det samme for Z<sub>11</sub>. Hvilke tall har multiplikativ invers mod 11?
<hr/>

In [48]:
print_modulo_table(11)

Modulo table for Zn, n = 11

     1   2   3   4   5   6   7   8   9   10
--------------------------------------------------
 1 | 1   2   3   4   5   6   7   8   9   10
 2 | 2   4   6   8   10  1   3   5   7   9
 3 | 3   6   9   1   4   7   10  2   5   8
 4 | 4   8   1   5   9   2   6   10  3   7
 5 | 5   10  4   9   3   8   2   7   1   6
 6 | 6   1   7   2   8   3   9   4   10  5
 7 | 7   3   10  6   2   9   5   1   8   4
 8 | 8   5   2   10  7   4   1   9   6   3
 9 | 9   7   5   3   1   10  8   6   4   2
10 | 10  9   8   7   6   5   4   3   2   1

In [51]:
find_inverses(11)

Multiplikative inverser modulo 11 er tall a og b som oppfyller ab ≡ 1 (mod 11)

Multiplikative inverse par modulo 11 er:
(1, 1)
(2, 6)
(3, 4)
(4, 3)
(5, 9)
(6, 2)
(7, 8)
(8, 7)
(9, 5)
(10, 10)

### d
Finn en multiplikativ invers til 11 modulo 29, med “brute force”
<hr/>

In [56]:
for i in range (1,29):
    if(i*11%29== 1):
        print("{0} er multiplikativ invers av 11 modulo 29".format(i))
        print("11 * {0} ≡ 1 (mod 29)".format(i))
        break

8 er multiplikativ invers av 11 modulo 29
11 * 8 ≡ 1 (mod 29)

### e
Formuler en sammenheng mellom det at a har en multiplikativ invers modulo n, og om
tallet har felles faktorer med n.
<hr/>

For at et tall <strong>a</strong> skal ha ha en multiplikativ invers modulo <strong>n</strong>, kan ikke <strong>a</strong> ha en felles faktor med <strong>n</strong> annet enn 1

## 4

Du har snappet om følgende melding mellom Alice og Bob: (Her er mellomrom fra klartekst
fjernet, og chifferteksten er gruppert med 5 tegn.)
$$ YÆVFB\;\;VBVFR\;\;ÅVBV $$
Du vet at Alice og Bob bruker et k-skift-chiffer. Bruk brute-force til å finne krypteringsnøkkelen
og klarteksten.
Skriv gjerne et program for å hjelpe deg.

In [18]:
def k_shift(k, string):
    alphabet = "abcdefghijklmnopqrstuvwxyzæøå"
    resultstring = ""
    string = string.replace(" ", "").lower()
    for letter in string:
        index = alphabet.index(letter)
        newindex = (index + k) % len(alphabet)
        resultstring += alphabet[newindex]

    return resultstring

def bruteforce(string):
    for i in range(26):
        print(k_shift(i, string))

bruteforce("YÆVFB VBVFR ÅVBV")

# hjerneneralene - hjernen er alene

yævfbvbvfråvbv
zøwgcwcwgsawcw
æåxhdxdxhtbxdx
øayieyeyiucyey
åbzjfzfzjvdzfz
acækgægækweægæ
bdølhøhølxføhø
ceåmiåiåmygåiå
dfanjajanzhaja
egbokbkboæibkb
fhcplclcpøjclc
gidqmdmdqåkdmd
hjerneneralene
ikfsofofsbmfof
jlgtpgpgtcngpg
kmhuqhqhudohqh
lnivririvepiri
mojwsjsjwfqjsj
npkxtktkxgrktk
oqlyululyhslul
prmzvmvmzitmvm
qsnæwnwnæjunwn
rtoøxoxoøkvoxo
supåypypålwpyp
tvqazqzqamxqzq
uwrbærærbnyrær